body{
    font-family: 'Comic Sans MS';
    background-color: firebrick;
}
main{
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
}
footer{
    width: 80%;
    margin: auto;
    border: 10px solid black;
    border-radius: 20px;
    background-color: white;
}
.lewy,.prawy{
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 90px;
    color: black;
    border: 10px solid black;
    border-radius: 20px;
    background-color: white;
}
.lewy{
    border-right: 5px solid black;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
.prawy{
    border-left: 5px solid black;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
.ln,.rn{
    margin-bottom: auto;
    display: flex;
    justify-content: center;
}
.lk,.rk{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    width: 150px;
    height: 80px;
    font-family: 'Comic Sans MS';
    font-size: 40px;
    justify-content: center;
    color: black;
    border: 10px solid black;
    border-radius: 20px;
    background-color: red;
}
input:hover{
    box-shadow: 5px 5px 5px red;
}
input:active{
    background-color: black;
    color: red;
    border: 10px solid red;
    box-shadow: 5px 5px 5px red;
}
@media screen and (max-width: 980px){
    main{
        display: block;
        height: auto;
    }
    .lewy,.prawy{
        width: 100%;
        border: 10px solid black;
        border-radius: 20px;
        margin: 0%;
    }
    .lewy{
        border-bottom: 5px solid black;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
    .prawy{
        border-top: 5px solid black;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
    }
    .ln,.rn,.lk,.rk,.lk p,.rk p{
        margin: 0%;
        padding: 0%;
    }
}
